<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/" text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img [src]="unEvento.imagen">
    </ion-card-header>
    <ion-card-content>
      <h1>{{unEvento.nombre}}</h1>
      <br>
      <h2>{{unEvento.descripcion}}</h2>
      <br>
      <h2>Lugar: {{unEvento.lugar}}</h2>
      <br>
      <h2>Fecha: {{unEvento.fecha}}</h2>
    </ion-card-content>
    <div style="text-align: center;">
      <ion-button (click)="generarQr()" shape="round" color="success">
        Generar QR
      </ion-button>
    </div>
    <qrcode [qrdata]="qrdata" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </ion-card>
</ion-content>
