<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container>
    <swiper-slide><img src="assets/carrusel1.jpg"></swiper-slide>
    <swiper-slide><img src="assets/carrusel2.jpg"></swiper-slide>
    <swiper-slide><img src="assets/carrusel3.jpg"></swiper-slide>
  </swiper-container>
  <ion-list>
    <ion-item *ngFor = "let e of eventos" (click)="buscarEvento(e)">
      <ion-label>
        <img [src]="e.imagen">
        <h2>{{e.nombre}}</h2>
        <br>
        <h2>{{e.descripcion}}</h2>
      </ion-label>
    </ion-item>
    <br>
  </ion-list>
</ion-content>
